/* 기존 스타일 */
.all {
    font-size: 16px; /* 기존 폰트 크기 */
    padding-top: 120px; /* header의 높이만큼 padding 추가 */
    margin-left: 0px;
}

.info {
    text-align: center;
}

/* 새 스타일 */
body {
    font-size: 21px; /* 기존 크기에서 5pt 증가 */
}

.product-image {
    width: 100px;
    height: 100px;
    margin-right: 10px; /* 이미지와 텍스트 사이에 여백 추가 */
}

.product-info {
    display: flex;
    align-items: center; /* 세로 중간 정렬 */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.total {
    font-weight: bold;
}
/* 새 스타일 */
.buttons-container {
    display: flex;
    justify-content: space-between; /* 버튼을 좌우로 분리 */
    margin-top: 20px;
}

button {
	margin-left: 8px;
    font-size: 26px; /* 기존 크기에서 10pt 증가 */
    padding: 10px 20px; /* 버튼 크기 조절 */
}
/* 문구 스타일 */
.empty-message {
    text-align: center;
    font-size: 30pt;
    margin-top: 50px;
}
.hidden {
    display: none; /* 초기 상태에서 숨기기 */
}
.payment-dialog {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.payment-dialog h2 {
    margin-top: 0;
}
dialog {
    width: 300px; /* 적절한 너비 */
    height: auto; /* 높이는 자동으로 조정 */
}
table {
    margin-left: 8px;
}