/* 작성자 : 이진석 */

.clothInfoDialog {
	font-size: 20px; /* 전체 폰트 크기 설정 */
}

.clothInfoDialog label {
	display: inline-block;
	margin: 5px 0; /* 각 레이블과 입력 필드 사이 간격 조정 */
}

.clothInfoDialog input[type="text"], .clothInfoDialog input[type="number"]
	{
	font-size: 20px; /* 입력 필드의 폰트 크기 설정 */
	padding: 5px; /* 입력 필드의 내부 여백 조정 */
	margin-left: 10px; /* 레이블과 입력 필드 사이 간격 조정 */
}

.clothInfoDialog button {
	font-size: 20px; /* 버튼의 폰트 크기 설정 */
	padding: 8px 16px; /* 버튼 크기를 폰트에 맞게 조정 */
	margin: 10px 5px; /* 버튼 사이 간격 조정 */
	cursor: pointer; /* 마우스 커서 변경 */
}

#clothExplanation {
	font-size: 15px; /* 폰트 크기 설정 */
	padding: 10px; /* 내부 여백 조정 */
	width: 100%; /* 가로 크기를 부모 요소에 맞게 설정 */
	max-width: 600px; /* 최대 너비 설정 */
	height: 100px; /* 높이 설정 */
	resize: vertical; /* 사용자가 세로 크기만 조절할 수 있도록 설정 */
	border: 1px solid #ccc; /* 테두리 스타일 */
	border-radius: 4px; /* 모서리 둥글게 설정 */
}

.sizeListDialog {
	font-size: 15px; /* 전체 폰트 크기 설정 */
	flex-direction: column;
	align-items: center; /* 다이얼로그의 내용들을 가운데 정렬 */
	justify-content: center; /* 다이얼로그 내용의 수직 정렬 */
	text-align: center; /* 텍스트 가운데 정렬 */
	padding: 20px; /* 다이얼로그 내부 여백 */
}

.sizeListDialog label {
	display: inline-block;
	margin: 5px 0; /* 각 레이블과 입력 필드 사이 간격 조정 */
}

.sizeListDialog input[type="number"] {
	font-size: 15px; /* 입력 필드의 폰트 크기 설정 */
	padding: 5px; /* 입력 필드의 내부 여백 조정 */
	margin-left: 10px; /* 레이블과 입력 필드 사이 간격 조정 */
}

.sizeListDialog button {
	font-size: 15px; /* 버튼의 폰트 크기 설정 */
	padding: 8px 16px; /* 버튼 크기를 폰트에 맞게 조정 */
	margin: 10px 5px; /* 버튼 사이 간격 조정 */
}

select {
	font-size: 16px; /* 원하는 폰트 크기로 조정하세요 */
	width: auto; /* 자동으로 콘텐츠에 맞는 크기로 조정 */
	min-width: 150px; /* 최소 크기를 설정하여 너무 작아지지 않도록 */
	padding: 5px; /* 콤보 박스 내 여백을 추가 */
	margin-top: 10px;
}

/* 옵션의 폰트 크기를 조정 */
option {
	font-size: 16px; /* select와 동일한 폰트 크기 설정 */
}

.modifyDialog {
	font-size: 18px; /* 원하는 폰트 크기로 조정하세요 */
	padding: 20px; /* 다이얼로그 내부 여백을 추가하여 레이아웃 조정 */
}

/* 다이얼로그 내의 텍스트 입력 필드와 버튼에도 동일한 폰트 크기 적용 */
.modifyDialog input[type="text"], .modifyDialog button {
	font-size: 18px; /* 동일한 폰트 크기 적용 */
	padding: 10px; /* 버튼과 입력 필드의 여백 조정 */
}
.modifyDialog button {
	width: 150px;
}
.modifyDialog input[type="text"]{
	width: 270px;
}